html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  display: none;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.hidden,
[hidden] {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}
.container.full-width {
  max-width: none;
}
.container.limited-width {
  max-width: 720px;
}
.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}
@media all and (max-width: 1600px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media all and (max-width: 800px) {
  section {
    margin-bottom: 40px;
  }
  section.small-margin {
    margin-bottom: 20px;
  }
  section.large-margin {
    margin-bottom: 60px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

button {
  background-color: rgba(0,0,0,.4);
  border: none !important;
  color: hsla(0,0%,100%,.7);
  padding: 0.5em 1.3em;
  font-family: "Helvetica Neue", Arial, sans-serif;

  -o-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
button:hover {
  background-color: rgba(0,0,0,.7);
  color: #fff;
}
.hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}


/* header */
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  /*background-color: #3a3a3a;*/
  background-color: rgba(0,0,0,.8);
}
.hamburger-menu #menu-toggle {
  z-index: 2;
  position: relative;
  opacity: 0;
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
  cursor: pointer;
}

.hamburger-menu .hamburger-btn {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 2px;
  background: rgba(256, 256, 256, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.hamburger-menu .hamburger-btn:before {
  top: -10px;
}
.hamburger-menu .hamburger-btn:after {
  top: 10px;
}
.hamburger-menu .hamburger-btn:before,
.hamburger-menu .hamburger-btn:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: rgba(256, 256, 256, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.hamburger-menu #menu-toggle:checked + .hamburger-btn {
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.hamburger-menu #menu-toggle:checked + .hamburger-btn:before {
  top: 0;
  transform:rotate(45deg);
}
.hamburger-menu #menu-toggle:checked + .hamburger-btn:after {
  top: 0;
  transform:rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.hamburger-menu #menu-toggle:checked ~ .menu {
  right: 0 !important;
}
.hamburger-menu .menu {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 190px;
  height: auto;
  margin: 0;
  padding: 100px 0 60px 0;
  list-style: none;
  /*background-color: #3a3a3a;*/
  background-color: rgba(0,0,0,.8);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.hamburger-menu .menu > li {
  display: block;
  padding: 12px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition-duration: .25s;
  text-align: center;
}
.hamburger-menu .menu > li a {
  font-size: 16px;
  text-decoration: none;
  color: rgba(256, 256, 256, 0.75);
}
.hamburger-menu .menu > li a:hover {
  color: rgba(256, 256, 256, 1);
}

#iframe-block .sketchfab-embed-wrapper {
  width: 100%;
  overflow: hidden;
}
#iframe-block .sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
#iframe-block > .container .control {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 192px;
  width: 32px;
  height: 32px;
  text-align: center;
  pointer-events: all;
  padding: 5px;
  font-size: 16px;
  fill: #fff;
  outline: none;
  box-sizing: border-box;

  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;

  -o-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  -moz-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
}
body.viewerready #iframe-block > .container .control {
  opacity: 1;
  visibility: visible;

  -o-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  -moz-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
  transition: background-color 0.25s, opacity 0.25s, visibility 0.25s ease-in-out;
}
#iframe-block > .container .control:hover {
  background-color: rgba(0,0,0,.7);
}
#iframe-block > .container .control > svg {
  width: 15px;
  height: auto;
  stroke: #666;
  stroke-width: 2px;
}

#screenshots-block .screenshots {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 15px 0 0 15px;
  background-color: #F2F2F2;
  border-top: 1px solid #e7e7e7;
}

#screenshots-block .screenshots > * {
  margin-right: 15px;
  margin-bottom: 15px;
}
